<div class="allMov">
{{#each movies }}
  <li class="movList">
    <a href="/movies/{{ this.id }}">
    <img class="movImage" src=" {{{ this.attributes.image.url }}}" alt="">
      <p class="movTitle">{{ this.attributes.title }} </p>
    </a>
  </li>
{{/each}}
</div>
